body {
    background-color: lightblue;
}

.collection a.collection-item {
    color: white;
    background-color: #607d8b;
}

nav {
    background-color: #607d8b

}

nav .brand-logo {
    color: white;
}

