.padawan {
    color: gray;
    font-size: 50px;
    font-family: Tahoma;
    padding-top: 10%;
    padding-left: 30%;
}

body {
    background-color: lightblue;
}

.collection a.collection-item {
    color: gray;
}

nav {
    background-color: lightblue
}

nav .brand-logo {
    color: gray;
}