body {
  /*background-size: cover;*/
  background-color: white;
  background-image: url(../img/gafi-1.jpg);
  background-position: 10% 50%;
  background-repeat: no-repeat;
  min-height: 93vh;
}

.white-text {
  color: #fff !important;
}

.login-card {
  padding-left: 30% !important;
  padding-right: 25% !important;
  padding-top: 5% !important;
}

#btn-login-field {
  color: white;
}

#btn-modal {
  color: lightblue;
}

.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}